@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');

$fuentePrincipal: 'Roboto', sans-serif;

$gris: #19323c;
$naranja: #ffb037;
$naranjaOscuro: #ff914d;
$blanco: #f3f7f0;

$telefono: 468px;
$tablet: 763px;
$desktop:1024px;

$thin: 100px;
$regular:300px;
$bold:700px;